 body {
       background-color: rgb(239,222,205);
      }

      #title {
        font-size: 40px;
        font-weight: bold;
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
        background-color: rgb(60,56,51);
        color: #EFDECD    
      }
     
      .info {
        font-size: 24px;
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
        color: #1E1C1A
      }
     img {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width=40%;
      }   

     #demo {
           font-size: 15px;
           text-align: center;
           color: #ff951e
}
  
